{
  "ApiTokenEtherscan": "",
  "SlackApiToken": "",
  "SlackChannel": "",
  "CheckFrequencyMinutes": 10,
  "Ethereum": [
    {
      "Address": "0x",
      "MinAddressValue": "3"
    },
  ],
  "Bitcoin": [
    {
      "Address": "",
      "MinAddressValue": "3"
    }
  ]
}